/.idea
/inspectionProfiles
/.idea/*.xml
*.iml
/test/data/temp
*.pkl
/src/logs/*.*
/src/logs/checkpoint
*.h5
/data/
/weights/
/test/weights/
/test/models/
/logs/
/logs/*.*
/misc/
/models/
/src/runtime/logs/
/src/runtime/logs/*.*
*.sqlite3
*.bat
