/.idea
/inspectionProfiles
/.idea/*.xml
*.iml
/test/data/temp
*.pkl
/src/logs/*.*
/src/logs/checkpoint
/data_archived/
/src/weights_archived/
/weights/
/weights/detection/
/weights/detection/*.json
/weights/*.*
/test/weights/
/test/models/
/logs/
/logs/*.*
/misc/
/models/
/models_archived/
/src/runtime/logs/
/src/runtime/logs/*.*
*.sqlite3
*.bat
